.testeBlocosListas {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.testeBlocosLista {
  width: 250px;
  min-height: 250px;
  padding: 10px;
  border: 2px solid #444;
  border-radius: 8px;
  background: #f4f4f4;
}

.testeBlocosItem {
  margin: 8px 0;
  padding: 10px;
  background: white;
  border: 1px solid #555;
  border-radius: 6px;
  cursor: grab;
  user-select: none;
}

.testeBlocosOver {
  border: 2px dashed blue;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
}
